<h1>Listing Book Editions</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>ISBN-13</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <% @book_editions.each do |book_edition| %>
      <tr>
        <td><%= book_edition.title %></td>
        <td><%= book_edition.isbn13 %></td>
        <td><%= link_to 'Show', book_edition %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @book_editions %>
<%= link_to 'New Book Edition', new_book_edition_path %>
