<h1>New Book Eidition</h1>

<%= simple_form_for @book_edition do |f| %>
  <%= f.input :title %>
  <%= f.input :isbn10 %>
  <%= f.input :isbn13 %>
  <%= f.input :edition, as: :radio_buttons, collection: BookEdition.editions.to_a.map { |item| item[0].humanize } %>
  <%= f.button :submit %>
<% end %>
