<h1>Book Edition Information</h1>
<p><b>Title: </b><%= @book_edition.title %></p>
<p><b>ISBN-10: </b> <%= @book_edition.isbn10 %></p>
<p><b>ISBN-13: </b> <%= @book_edition.isbn13 %></p>
<p><b>Edition: </b> <%= @book_edition.edition.humanize %></p>
<p><b>Binding: </b> <%= @book_edition.binding.humanize %></p>
<p><b>Author: </b> <%= @book_edition.author %></p>
<p><b>Sizes: </b> <%= @book_edition.width %> width, <%= @book_edition.height %> height, <%= @book_edition.depth %> depth</p>
<p><b>Description: </b> <%= @book_edition.description %></p>
<p><b>Publish Date: </b> <%= t @book_edition.publish_date %></p>
<p><b>Removed: </b> <%= t @book_edition.removed %></p>
